body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2379px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2379px;
}
#u705 {
  position:absolute;
  left:2px;
  top:1182px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#9A9C9E;
}
#u706 {
  position:absolute;
  left:538px;
  top:28px;
  width:109px;
  height:44px;
  font-size:20px;
  color:#9A9C9E;
}
#u707 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#62B1E3;
}
#u708 {
  position:absolute;
  left:674px;
  top:28px;
  width:109px;
  height:44px;
  font-size:20px;
  color:#62B1E3;
}
#u709 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u710 {
  position:absolute;
  left:804px;
  top:28px;
  width:109px;
  height:44px;
  font-size:20px;
  color:#999999;
}
#u711 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u712 {
  position:absolute;
  left:297px;
  top:2254px;
  width:350px;
  height:76px;
  text-align:center;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:2px;
}
#u714 {
  position:absolute;
  left:34px;
  top:2192px;
  width:875px;
  height:1px;
}
#u715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:50px;
}
#u716 {
  position:absolute;
  left:37px;
  top:28px;
  width:118px;
  height:50px;
}
#u717 {
  position:absolute;
  left:2px;
  top:17px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:175px;
  background:inherit;
  background-color:rgba(98, 177, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:675px;
  top:73px;
  width:109px;
  height:175px;
}
#u719 {
  position:absolute;
  left:2px;
  top:80px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u720 {
  position:absolute;
  left:719px;
  top:62px;
  width:20px;
  height:10px;
}
#u721 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:2px;
}
#u722 {
  position:absolute;
  left:675px;
  top:72px;
  width:109px;
  height:1px;
}
#u723 {
  position:absolute;
  left:2px;
  top:-8px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(98, 177, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:675px;
  top:72px;
  width:109px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u725 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(98, 177, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u726 {
  position:absolute;
  left:675px;
  top:107px;
  width:109px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:675px;
  top:143px;
  width:109px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(98, 177, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:675px;
  top:178px;
  width:109px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u731 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:35px;
  background:inherit;
  background-color:rgba(98, 177, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u732 {
  position:absolute;
  left:675px;
  top:213px;
  width:109px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  height:996px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:47px;
  top:117px;
  width:845px;
  height:996px;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:845px;
  word-wrap:break-word;
}
